body {
  height: 97vh;
  background-color: blueviolet;
  font-family: 'Courier New', Courier, monospace;
}
.appWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 97vh;
}

.gameWrapper {
  background-color: white;
  flex-basis: 100%;
  max-width: 100%;
  border-radius: 2em;
  padding: 5% 5% 2% 5%;
  display: flex;
  flex-flow: row wrap;

  justify-content: center;
  align-items: center;
}

.gameWrapper h1 {
  flex-basis: 100%;
  text-align: center;
}
.gameWrapper h2 {
  margin-right: 4%;
  text-align: center;
  font-size: 2em;
}

.gameWrapper input {
  font-size: 1.5em;
  font-weight: bold;
  width: 2.5em;
  font-family: inherit;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: white;
  border-bottom: 4px solid blueviolet;
  text-align: center;
}
.gameWrapper input:focus {
  outline: none;
}

.correct {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 0;
  /* margin: 0;
  padding: 0; */
}

.text-green {
  font-weight: bold;
  color: green;
}

.text-red {
  color: red;
}

.text-bold {
  font-weight: bold;
}

.correctInRow {
  flex-basis: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.best {
  flex-basis: 100%;
  text-align: right;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 512px) {
  .gameWrapper {
    flex-basis: 80%;
    max-width: 80%;
  }
  .gameWrapper h2 {
    flex-basis: auto;
    margin-right: 4%;
    font-size: 4em;
  }
  .gameWrapper input {
    font-size: 2em;
  }
}

@media only screen and (min-width: 764px) {
  .gameWrapper {
    flex-basis: 50%;
    max-width: 50%;
  }
  .gameWrapper h2 {
    font-size: 4em;
  }
}
